body {
    margin: 0;
    font-family: "Helvetica";
    font-size: 14px;
}
a {
    color: hsl(208,56%,53%);
    text-decoration: none;
}
a:hover {
    color: hsl(208,56%,38%);
    text-decoration: inherit;
}
.contenedor {
    width: 1100px;
    margin: 0 auto;
}
header {
    background: url('../img/fondo.png');
    color: hsl(0,0%,100%);
    height: 200px;
}
header .contenedor {
    padding-top: 40px;
}
header h1 {
    font-size: 70px;
    margin: 0;
    font-weight: 500;
}
header p {
    font-size: 20px;
    margin: 0;
}
nav {
    background: hsl(264,34%,30%);
    height: 49px;
    margin-bottom: 30px;
}
nav ul {
    list-style: none;
    float: left;
    padding: 0;
}
nav ul li {
    float: left;
    margin: 0 20px;
}
nav ul li:first-of-type {
    margin-left: 0;
}
nav ul li a {
    color: hsl(263,39%,82%);
    text-decoration: none;
    display: block;
    line-height: 19px;
}
nav ul li a:hover {
    color: hsl(0,0%,100%);
    text-decoration: none;
}
aside {
    width: 180px;
    float: left;
    background: hsl(264,33%,97%);
    border-radius: 5px;
    margin-right: 20px;
}
aside h3 {
    color: hsl(264,34%,36%);
    padding-left: 30px;
}
aside form {
    margin: 0 5px;
    padding-bottom: 0px;
    border-bottom: 1px solid hsla(264,34%,36%,0.5);
}
aside input {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 5px;
}
aside ul {
    list-style: none;
    padding: 0;
}
aside ul li {
    font-size: 13px;
    line-height: 25px;
}
aside li:not(:first-of-type):hover {
    background: hsl(264,33%,90%);
}
aside ul li:first-of-type {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: hsl(264,34%,36%);
    padding-left: 30px;
}
aside ul li a {
    color: hsl(260,7%,45%);
    text-decoration: none;
    display: block;
    padding-left: 50px;
}
aside ul li a:hover {
    text-decoration: none;
}
.contenido {
    width: 800px;
    float: left;
    background: hsl(264,33%,97%);
    border-radius: 5px;
}
.contenido article {
    padding: 15px 30px;
    text-align: justify;
}
.contenido article h2 {
    margin-top: 0;
}
table#tabla_consulta {
    width: 300px;
    /*height: 50%;*/
}
footer {
    background: hsl(264,34%,30%);
    clear: both;
    color: hsl(0,0%,100%);
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
}
footer a:hover {
    color: hsl(0,0%,100%);
    text-decoration: underline;
}
